html,body{
    color:white;
    font-family:'Opens Sans',helvetica;  
    height:100%;
    width:100%;
    margin: 0px;
  }
   /*estilo para la imagen con texto*/
  .portada{
     background: url(img/fondo.jpg) no-repeat fixed center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     height: 70%;
     width: 100% ;
     text-align: center;
   
  }
  .text{
    margin: 200px 500px 0px 0px;	
    padding: 20px;
    display: inline-block;
    color: white;
  }
  .text2{
    margin: 20px 400px 0px 90px;	
    padding: 20px;
    display: inline-block;
    color: rgb(100, 97, 97);
  }
  