html,body{
    color:white;
    font-family:'Opens Sans',helvetica;  
    height:100%;
    width:100%;
    margin: 0px;
  }
   /*estilo para la imagen con texto*/
  #portada{
     background: url(img/fondo.jpg) no-repeat fixed center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     height: 70%;
     width: 100% ;
     text-align: center;
   
  }
  .text{
    margin: 200px 500px 0px 0px;	
    padding: 20px;
    display: inline-block;
    color: white;
  }
  
  #text2{
    /*los colores de los fondos son para ver la caja*/
    font-size: 15pt;
    margin: 30px 400px 0px 80px;	
    padding: 20px;
    display: inline-block;
    color: #626262;
    background-color: teal;
    font-family: nexa_regularregular;
  

  }
  #contacto {
    /*los colores de los fondos son para ver la caja*/
    display: inline-block;
    margin: 0px 0px 100px 950px ;
    padding: 20px;
    background-color: yellow;
  }
